body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #ffffff;
}

.main-block {
    width: 100%;
    overflow: hidden;
    background-image:
        url('../images/all-page.png'),
        url('../images/only-theme-1page.png');
    position: relative;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.header {
    width: 100%;
}

.left-img {
    position: absolute;
    top: -29px;
    left: -30px;
}

.logo-container {
    width: 70%;
    margin: auto;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    color: #E4C3EE;
}


.menu {
    width: 100%;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    margin: 20px auto;
    font-size: 15px;
}

.menu-item {
    padding: 0 20px;
}

.right-img {
    position: absolute;
    top: -63px;
    right: -83px;
}

.date {
    line-height: 55px;
    margin: 50px auto 10px;
    color: #E6E6E6;
    font-size: 20px;
    text-align: center;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
}

.helloween-name {
    text-align: center;
    font-size: 70px;
    line-height: 70px;
    color: #F0D9B1;
    font-family: 'Permanent Marker';
}
