body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #ffffff;
}

p {
    padding: 0;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: #e6e6e6;
    margin: 0px 0px 15px;
}

h1 {
    text-align: center;
    font-size: 70px;
    line-height: 70px;
    color: #F0D9B1;
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
    font-weight: 100;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 50px;
    margin: 0 0 15px;
    color: #F0D9B1;
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
    font-weight: 100;
}

h3 {
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
    font-size: 35px;
    margin: 0 0 15px;
    color: #f0d9b1;
    font-weight: 100;
}

.all-page-theme {
    width: 100%;
    background-image: url('../images/only-theme-1page.png');
}

.welcome-page {
    width: 100%;
    overflow: hidden;
    background-image:
        url('../images/all-page.png');
    position: relative;
    background-repeat: no-repeat, repeat;
    background-size: cover;
}

.left-img {
    position: absolute;
    top: -29px;
    left: -30px;
}

.logo-container {
    width: 70%;
    margin: auto;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    color: #E4C3EE;
}

.menu {
    width: 100%;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    margin: 20px auto;
    font-size: 15px;
}

.menu-item {
    padding: 0 20px;
}

.right-img {
    position: absolute;
    top: -63px;
    right: -83px;
}

.first-date {
    line-height: 55px;
    margin: 50px auto 18px;
    color: #E6E6E6;
    font-size: 20px;
    text-align: center;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
}

.sign-up-container {
    width: 15%;
    background-color: rgb(246, 166, 38);
    font-family: "Noto Sans";
    text-align: center;
    line-height: 43px;
    font-weight: 700;
    font-size: 19px;
    margin: 35px auto;
    border-color: rgba(255, 255, 255, 0);
    border-style: none;
    box-shadow: rgba(47, 19, 5, 0.35) 0px 4px 13px 6px;
    border-radius: 25px;
    color: rgb(139, 52, 0);
}

.sign-up-color {
    color: rgb(139, 52, 0);
}

.fb-lorem-container {
    width: 38%;
    margin: 40px auto 0;
    overflow: auto;
}

.fb-img {
    width: 20%;
    float: left;
    text-align: center;
}

.fb-content {
    width: 80%;
    float: left;
    padding: 10px;
    color: #ffffff;
    line-height: 23px;
    font-size: 16px;
    font-weight: 400;
    font-family: "Noto Sans";
}

.ghost-container {
    width: 65%;
    margin: auto;
}

.about-page {
    width: 100%;
    background-image:
        url('../images/only-theme-1page.png');
    position: relative;
    background-repeat: repeat;
    background-size: cover;
    padding: 100px 0px 0px;
}

.map-logo {
    text-align: center;
    padding: 20px 0 0;
}

.london-date {
    text-align: center;
    font-size: 20px;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    color: #E6E6E6;
    padding: 15px 0;
}

.date-container {
    width: 55%;
    overflow: auto;
    padding: 50px 0 150px;
    margin: auto;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
}

.divider1-img {
    text-align: center;
    margin: 10px 0;
}

.time-container {
    width: 33.33%;
    float: left;
    margin: 10px 0px;
}

.time-number {
    text-align: center;
    font-size: 90px;
    color: #FFFFFF;
}

.time-name {
    text-align: center;
    font-size: 18px;
    color: #F6A626;
    margin: 0 0 15px;
}

.boo-image {
    height: 8%;
}

.attraction-page {
    width: 100%;
    background-color: #241c31;
    padding: 0px 0 100px;
}

.eye {
    position: absolute;
}

.attraction-container {
    width: 70%;
    margin: 50px auto 90px auto;
    overflow: auto;
}

.img {
    width: 50%;
    float: left;
}

.attraction-title {
    width: 70%;
    margin: auto;
}

.attraction-dscrptn {
    width: 50%;
    float: left;
    padding: 60px;
}

.plan-page {
    width: 100%;
    background-image:
        url('../images/only-theme-1page.png');
    position: relative;
    background-repeat: repeat;
    background-size: cover;
    padding: 75px 0px;
}

.blank-div {
    width: 100%;
    padding: 20px;
}

.plan-about {
    width: 60%;
    overflow: auto;
    margin: 20px auto;
}

.about-blank {
    width: 50%;
    float: left;
    padding: 10px;
}

.plan-description {
    width: 50%;
    float: left;
}

.description-title {
    font-family: "Permanent Marker", Arial, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    color: #F0D9B1;
    padding: 15px 0px 0px 25px;
}

.right-plan-description {
    width: 50%;
    text-align: right;
    float: left;
}

.sign-up-sec-container {
    width: 12%;
    background-color: rgb(246, 166, 38);
    font-family: "Noto Sans";
    text-align: center;
    line-height: 43px;
    font-weight: 700;
    font-size: 19px;
    padding: 10px;
    margin: 60px auto 0;
    border-color: rgba(255, 255, 255, 0);
    border-style: none;
    box-shadow: rgba(47, 19, 5, 0.35) 0px 4px 13px 6px;
    border-radius: 6px;
    color: rgb(139, 52, 0);
}

.sign-up-today {
    color: rgb(139, 52, 0);
    padding: 10px;
}

.gallary-page {
    width: 100%;
    overflow: auto;
    padding: 0 0 200px;
}

.gallary-line {
    width: 100%;
    margin: auto;
    float: left;
    overflow: auto;
    padding: 50px 0px 20px 0px;
    background-image: url(../images/hallo-line-bg.png);
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
}

.left-side-arrow {
    float: left;
    opacity: 0.3;
    top: 50%;
    left: 20%;
    position: absolute;
}

.gallary-img {
    width: 100%;
    float: left;
    margin: auto;
}

.right-side-arrow {
    float: left;
    opacity: 0.3;
    top: 50%;
    right: 20%;
    position: absolute;
}

.sign-up-page {
    width: 100%;
    background-image: url(../images/hallo-footer-bg.png);
    background-size: cover;
    background-position: center;
}

.feedback-page-title {
    padding: 100px 0 0;
}

.feedback-container {
    width: 35%;
    margin: auto;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    color: darkgrey;
    padding: 0px 0px 600px 0px;
}

.name-container {
    width: 50%;
    padding: 5px;
    float: left;
}

.about-container {
    padding: 10px;
    font-size: 13px;
    background-color: #584b72;
}

.about-sec-container {
    padding: 10px 0 150px;
    font-size: 13px;
    background-color: #584b72;
}

.feeback-subject {
    width: 100%;
    padding: 5px;
    float: left;
}

.send-message {
    text-align: center;
    background-color: #f6a626;
    border-radius: 4px;
    font-size: 14px;
    color: #8b3400;
    opacity: 1;
    padding: 11px 20px;
}

.footer {
    width: 100%;
    background-color: #1a1425;
    background-image: url(../images/eyes.gif);
    color: #cdcaca;
}

.footer-container {
    width: 65%;
    margin: auto;
    padding: 20px 0 50px;
    text-align: center;
}

.footer-logo-container {
    padding: 0 0 30px;
}

.cpyright-container {
    width: 50%;
    font-family: "Noto Sans", Arial, Tahoma, sans-serif;
    font-size: 14px;
    color: #e6e6e6;
    overflow: auto;
    margin: auto;
    padding: 20px 0 20px;
}

.copy-right {
    float: left;
}

.up-arrow {
    float: right;
}
